/*------------------------------------*\
    Universal Setting
\*------------------------------------*/
body {
	background:#fff;
	margin: 0px;
}


/*------------------------------------*\
    Universal Setting
\*------------------------------------*/
.content {
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
	padding: 20px 0px;
	
}